<div class="updateInfoDisplayHead">
    ID: {{selected.Id}}<br>
	Commit: {{selected.Commit}}<br>
    Obselete: {{selected.Obselete}}
</div>
<div class="updateInfoDisplayFoot">
	{{selected.Date}}
</div>
<button type="button" class="btn btn-secondary" ng-click="toggleFiles()">
	Show changed files
</button>
<button type="button" class="btn btn-secondary" ng-click="createBranchFromBuild(selected)">
	Create branch
</button><br/>

<neb-difflist diffs="selected.FileChanged" ng-hide="!showFiles"></neb-difflist>
<div class="updateInfoDisplayBody">Log:
	<pre>{{selected.Log}}</pre>
</div>