<div class="row col-lg-12">
<rd-widget>
    <rd-widget-header icon="fa-tasks" ng-attr-title="Create new update from commit {{fromCommit}}">
    </rd-widget-header>
    <rd-widget-body>
    	<p>
    		This update will include changes from {{commits.length}} commits : <br/>
			<span ng-repeat="comm in commits">{{comm.Id}}<br/></span>
    		Files changed : <br/>
    		<span ng-repeat="file in diffs" ng-class="{fileCreated: file.IsCreated, fileDeleted: file.IsDeleted}">
    			{{file.Name}}<br/>
    		</span>
    		Uncompressed update size : {{rawSize}}
    	</p>
    </rd-widget-body>
</rd-widget>
</div>