<div class="row col-lg-12">
<rd-widget>
    <rd-widget-header icon="fa-tasks" ng-attr-title="Create new build from commit {{fromCommit.Id}}">
    </rd-widget-header>
    <rd-widget-body>
    	<p>
    		This build will include changes from {{commits.length}} commits : <br/>
			From <span style="color: limegreen;">{{commits[0].Id}}</span> to <span style="color: limegreen;">{{commits[commits.length-1].Id}}</span><br/>
    		<a ng-click="toggleFiles()">Show changed files</a> <br/>
			<neb-difflist diffs="diffs" ng-hide="!showFiles"></neb-difflist>
    		Uncompressed build size : {{displaySize}} Kb<br/>
			Log:<br/>
			<textarea ng-model="build.log" class="buildModalLog"></textarea><br/>
			<button type="button" class="btn btn-primary" ng-click="createBuildAction()">Create build</button>
			<button type="button" class="btn btn-danger" ng-click="close()">Cancel</button>
    	</p>
    </rd-widget-body>
</rd-widget>
</div>