<div class="row col-lg-12">
<rd-widget>
    <rd-widget-header icon="fa-tasks" title="Updates">
    	<a ng-click="updateCacheList()">Update cache</a>
    </rd-widget-header>
    <rd-widget-body classes="no-padding">
			<table class="updateTable">
				<thead>
					<td>Builds</tr>
					<td ng-repeat="branch in list.Branches">{{branch.Name}}</td>
				</thead>
				<tbody>
					<!-- Commits -->
					<tr ng-repeat="commit in list.Commits">
						<td class="updateTableCommit">
							<neb-commit commit="commit"></neb-commit>
						</td>
					</tr>
					<!-- Existing builds -->
					<tr ng-repeat="build in list.Builds | orderBy: Id:true" class="">
						<td class="updateTableBuild">{{build.Id}}</td>
						<td ng-repeat="branch in list.Branches" class="updateTableBranch">{{getUpdateForBuild(branch, build.Id)}}</td>
					</tr>
				</tbody>
			</table>
	</rd-widget-body>
</rd-widget>
</div>