.connectionBox{
	text-align: center;
	width: 250px;
	margin-top: 12px;
}
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
.diffList{
  width: 80%;
  margin: 0px auto;
  padding: 4px;
  height: 300px;
  overflow: scroll;
}
.diffLine:nth-child(2n+0){
  background-color: #f6f6f6;
}
.diffLine {
  border-top: 1px black solid;
  border-left: 1px black solid;
  padding: 2px;
}
.diffLineIcon {
  float: right;
}
.buildModalLog {
  width: 80%;
  height: 300px;
}
.updateTimelineContainer{
  width: 40%;
  overflow: scroll;
  padding-left: 18px;
}
.updateInfoDisplay {
  float: right;
  width: 40%;
  margin: 8px 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #e9e9e9;
  border-collapse: separate;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 8px;
}
.updateInfoDisplayHead{
  padding: 4px;
  color: #767676;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e9e9e9;
}
.updateInfoDisplayFoot {
  padding: 4px;
  color: #767676;
  background-color: #f6f6f6;
  border-top: 1px solid #e9e9e9;
}
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 110px;
  display: inline-block;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.cd-timeline-title {
  top: -52px;
  position: relative;
  margin-bottom: -92px;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-block {
  position: relative;
  margin: 5em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  padding-top: 8px;
  font-size: 18px;
  text-align: center;
  color: rgba(0,0,0,0.87);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-build {
  background: #43A047;
}
.cd-timeline-img.cd-commit {
  background: #039BE5;
}
.cd-timeline-img.cd-update {
  background: #1565C0;
  color: rgba(255,255,255,0.7);
}
.cd-timeline-img.cd-empty{
  box-shadow: none;
}
.cd-timeline-img.cd-newUpdate{
  background: #81C784;
}
.cd-timeline-img.cd-obselete{
  background: #757575;
}
.cd-timeline-img.cd-active{
  background: #1E88E5;
}