<div class="row col-lg-12">
<rd-widget>
    <rd-widget-header icon="fa-tasks" title="Achievement">
		<a ng-click="saveEdit()" ng-show="editing">Save</a>
		<a ng-click="cancelEdit()" ng-show="editing">Cancel</a>
		<a ng-click="startEdit()" ng-show="!editing">Edit</a>
		<a ng-click="deleteAchievement()" ng-show="!editing">Delete</a>
    </rd-widget-header>
    <rd-widget-body classes="no-padding">
		<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
				<tr><th width="16">ID</th><th width="32">Icon</th><th>Name</th><th>Max</th><th>Full Name</th><th>Description</th></tr>
			</thead>
			<tbody>
				<td>{{achievement.Id}}</td>
					<td ng-hide="editing"><img ng-src="{{achievement.Icon}}" width="32" height="32"></td>
					<td ng-hide="editing">{{achievement.Name}}</td>
					<td ng-hide="editing">{{achievement.Max}}</td>
					<td ng-hide="editing">{{achievement.FullName}}</td>
					<td ng-hide="editing">{{achievement.FullDesc}}</td>

					<td ng-show="editing"><input ng-model="achievement.Icon"/></td>
					<td ng-show="editing"><input ng-model="achievement.Name"/></td>
					<td ng-show="editing"><input type="number" ng-model="achievement.Max"/></td>
					<td ng-show="editing"><input ng-model="achievement.FullName"/></td>
					<td ng-show="editing"><input ng-model="achievement.FullDesc"/></td>
			</tbody>
		 </table>
		</div>
	</rd-widget-body>
</rd-widget>
</div>